<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300" rel="stylesheet">
    <title> BU-Bot </title>
</head>

<body>
    <div class="heading-box">
        <h1>BU-MGMT</h1>
    </div>
    <div class="card">
        <h2> Properties </h2>
        <ul>
            <li>create invite</li>
            <li>create course</li>
            <li>assign students
                <ul>
                    <li>assign to course</li>
                    <li>assign to batch</li>
                    <li>representative </li>
                </ul>
            </li>

            <li>create batch</li>
        </ul>
    </div>
</body>
<script src="js/main.js"></script>

</html>